.header
  .header-content
    %h1 Arama Efekt
    %h2
  .control{ tabindex: 1 }
    .btn
    %i.icon-search.ion-search
%i.icon-close.ion-ios-close-empty
.form
  %input.input-search(  type="text" placeholder="Ara...")
  
.wrapper 
  #h2 by muhammmetardayildiz
